body {
  font-family:'Oswald', sans-serif;
  margin: 0;
  background-color: #343434;
  color: white;
  font-weight: bold;
  font-size: 120%;
}
header {
  background-image:url('images/backgroundphoto.jpg');
  height: 30em;
  background-size: cover;
}
header h1 {
  margin: 0;
}
nav {
  text-align: center;
}
a {
  display: inline-block;
  text-align: center;
  background-color: #00384F;
  color: white;
  height: 2.5em;
  width: 20%;
  text-decoration: none;
  font-size: 2em;
  vertical-align: middle;
  padding-top: .5em;
}
